<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">City</th>
      <th scope="col">Date</th>
      <th scope="col">Hour</th>
      <th scope="col">Temperature</th>
      <th scope="col">Humidity</th>
      <th scope="col">Weather State</th>
      <th scope="col">Wind</th>
      <th scope="col">Air quality</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="data?.length; else empty">
      <tr *ngFor="let row of data; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-center">{{ row.country }}</td>
        <td class="text-center">{{ row.city }}</td>
        <td class="text-center">{{ row.date }}</td>
        <td class="text-center">{{ row.hour }}</td>
        <td class="text-center">{{ row.temperature }}</td>
        <td class="text-center">{{ row.humidity }}</td>
        <td class="text-center">{{ row.weatherStatus }}</td>
        <td class="text-center">{{ row.wind }}</td>
        <td class="text-center">{{ row.airQuality }}</td>
      </tr>
    </ng-container>

    <ng-template #empty> Not results found </ng-template>
  </tbody>
</table>
